src/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://example.com/Subject"
  targetNamespace="http://example.com/Subject"
  name="Subject"
>
  <!-- Types -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/Subject">

      <s:element name="Schedule">
        <s:complexType>
          <s:sequence>
            <s:element name="scheduleId" type="s:int" />
            <s:element name="day" type="s:int" />
            <s:element name="startTime" type="s:string" />
            <s:element name="endTime" type="s:string" />
            <s:element name="classroom" type="s:int" />
            <s:element name="building" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="Group">
        <s:complexType>
          <s:sequence>
            <s:element name="groupId" type="s:string" />
            <s:element name="maxCapacity" type="s:int" />
            <s:element name="teacherId" type="s:string" />
            <s:element name="schedules" type="tns:Schedule" minOccurs="0" maxOccurs="unbounded" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="Subject">
        <s:complexType>
          <s:sequence>
            <s:element name="subjectId" type="s:int" />
            <s:element name="subjectName" type="s:string" />
            <s:element name="subjectCode" type="s:string" />
            <s:element name="careerId" type="s:int" />
            <s:element name="curriculum" type="s:string" />
            <s:element name="credits" type="s:int" />
            <s:element name="groups" type="tns:Group" minOccurs="0" maxOccurs="unbounded" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="SubjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="subjects" type="tns:Subject" minOccurs="0" maxOccurs="unbounded" />
          </s:sequence>
        </s:complexType>
      </s:element>

    </s:schema>
  </wsdl:types>

  <!-- Messages -->
  <wsdl:message name="SubjectsSoapIn" />

  <wsdl:message name="SubjectsSoapOut">
    <wsdl:part name="parameters" element="tns:SubjectsResponse" />
  </wsdl:message>

  <!-- PortType -->
  <wsdl:portType name="SubjectsSoapPort">
    <wsdl:operation name="getSubjects">
      <wsdl:input message="tns:SubjectsSoapIn" />
      <wsdl:output message="tns:SubjectsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <!-- Binding -->
  <wsdl:binding name="SubjectsSoapBinding" type="tns:SubjectsSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSubjects">
      <soap:operation soapAction="getSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Service -->
  <wsdl:service name="SubjectsService">
    <wsdl:port name="SubjectsServiceSoapPort" binding="tns:SubjectsSoapBinding">
      <soap:address location="https://aimsinterface-production.up.railway.app/wsdl" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>