src/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="urn:Subjects"
  targetNamespace="urn:Subjects"
>
  <documentation>
    This is a WSDL file for the Subjects service.
  </documentation>
  <!-- Types -->
  <types>
    <schema targetNamespace="urn:Subjects" xmlns="http://www.w3.org/2001/XMLSchema">

      <complexType name="Schedule">
        <sequence>
          <element name="scheduleId" type="xsd:int" />
          <element name="day" type="xsd:int" />
          <element name="startTime" type="xsd:string" />
          <element name="endTime" type="xsd:string" />
          <element name="classroom" type="xsd:int" />
          <element name="building" type="xsd:int" />
        </sequence>
      </complexType>

      <complexType name="Group">
        <sequence>
          <element name="groupId" type="xsd:string" />
          <element name="maxCapacity" type="xsd:int" />
          <element name="teacherId" type="xsd:string" />
          <element name="schedules" type="tns:Schedule" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>

      <complexType name="Subject">
        <sequence>
          <element name="subjectId" type="xsd:int" />
          <element name="subjectName" type="xsd:string" />
          <element name="subjectCode" type="xsd:string" />
          <element name="careerId" type="xsd:int" />
          <element name="curriculum" type="xsd:string" />
          <element name="credits" type="xsd:int" />
          <element name="groups" type="tns:Group" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </complexType>

      <element name="SubjectsResponse">
        <complexType>
          <sequence>
            <element name="subjects" type="tns:Subject" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>

    </schema>
  </types>

  <!-- Messages -->
  <message name="SubjectsSoapIn" />

  <message name="SubjectsSoapOut">
    <part name="parameters" element="tns:SubjectsResponse" />
  </message>

  <!-- PortType -->
  <portType name="SubjectsSoapPort">
    <documentation>
      This is the port type for the getSubjects operation.
    </documentation>
    <operation name="getSubjects">
      <input message="tns:SubjectsSoapIn" />
      <output message="tns:SubjectsSoapOut" />
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="SubjectsSoapBinding" type="tns:SubjectsSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getSubjects">
      <soap:operation soapAction="getSubjects" />
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Subjects" />
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Subjects" />
      </output>
    </operation>
  </binding>

  <!-- Service -->
  <service name="SubjectsService">
    <port name="SubjectsServiceSoapPort" binding="tns:SubjectsSoapBinding">
      <soap:address location="https://aimsinterface-production.up.railway.app/wsdl" />
    </port>
  </service>

</definitions>